
body, html {
	background-color: white;
}

@font-face {
	font-family: ConnectionSerif;
	src: url(ConnectionSerif.otf);
}
@font-face {
	font-family: Pixeled;
	src: url(Pixeled.ttf);
	font-size: 2.5vw;
	text-decoration: none;
	color:blueviolet;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#fixedMenu{
	position:absolute;
	z-index: 1;
	left:1%;
	top: 3%;
	padding-right:  1%;
	width: 21%;
	height: 50%;
}
	#title{
		
		font-size: 2.5vw;
		text-decoration-style: dotted;
		text-decoration: none;
		
	background-image:
		linear-gradient(90deg, #333 5px, white 5px),
		linear-gradient(90deg, white 5px, #333 5px),
		linear-gradient(90deg, #333 5px, white 5px),
		linear-gradient(90deg, white 5px, #333 5px),
		linear-gradient(90deg, #333 5px, white 5px),
		linear-gradient(90deg, #FFF 5px, #333 5px),
		linear-gradient(90deg, #333 5px, white 5px),
		linear-gradient(90deg, #FFF 5px, #333 5px);
	background-position: 0 0, 0 5px, 0 10px, 0 15px, 0 20px, 0 25px, 0 30px, 0 35px;
	background-repeat: repeat-x;
	background-size: 10px 5px, 10px 5px, 10px 5px, 10px 5px, 10px 5px, 10px 5px, 10px 5px;
	font-family: Pixeled;
	 
	
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
text-align:center;
	
	}



#bgMenu{

	display: block;
	left:2%;
	width:20%;
	top:15%;
	position:absolute;
	
}
#video{
	
	width:80%;
	height:50%;
	display: block;
	margin: auto;
	
	
}
#center-content {
	background-color: none;
	width: 80%;
	height: 100%;
	position: absolute;
	top: 5%;
	left: 22%;
	overflow-wrap: break-word;
	text-align: justify;
	text-justify: inter-word;


}
#back{
	float:right;
	font-size:  1.3vw;
	color:grey;
	text-decoration: none!important;
	font-family: Pixeled;
	margin-right: 20%;
}
.mainText {
	margin-right: 2%;
	width:90%;
	background:white;
	margin-top: 0%;
	font-family: Consolas;
	padding: 5px;
	color: #373737;
	font-size: 1.5vw;
	background-color: none;
}
.sketch{
	position: absolute;
	top:12%;
	left:1%;
	width:20%;
	height:20%;
	
}

.input-group{
	
 width:30%;
height:5%;
display:  block;
margin:auto +32%;

}

	table.table-bordered > tbody > tr > td{
    border:30px solid  black;
		
}
 table-responsive{
	width:100%;
}
#tabla{
	top:15%;
	left:2%;
	width:19%;
	
	
	margin: auto;
}
	table{
		
		font-family: ConnectionSerif;
	border-color: #000;
		
	}
	table.table td:hover{
	  background: black;
	  color: white;
	}


.phones{
  
  margin: 0 auto;
}
.phones .phone{
  margin: 0 20px;
	
}
#schema{
	width:75%;
	height:100%;
	display: block;
	margin: auto;
}
table.table td{
  text-align: center;
  cursor: default;
	background: #FFF;
  /*http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css#4407335*/
   user-select: none;
   border-color: #000;
	
}
table.table td.connected{
  border-width: 3px;
  border-style: solid;
   border-color: green;
	

}
table.table td.selected{
  background: black;
  color: black;
	
}

