
body, html {
	background-color: aliceblue;
}

@font-face {
	font-family: ConnectionSerif;
	src: url(ConnectionSerif.otf);
}
@font-face {
	font-family: Pixeled;
	src: url(Pixeled.ttf);
	font-size: 2.5vw;
	text-decoration: none;
	color:blueviolet;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#fixedMenu{
	position:fixed;
	z-index: 1;
	left:1%;
	top: 3%;
	padding-right:  1%;
	width: 20%;
	height: 30%;
}
#fixedMenu1{
	position:fixed;
	z-index: 1;
	left:1%;
	top: 3%;
	padding-right:  1%;
	width: 20%;
	height: 30%;
}
	#title{
		font-size: 2.5vw;
		text-decoration-style: dotted;
		text-decoration: none;
		color:blueviolet;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
#title1{
		font-size: 2.5vw;
		text-decoration-style: dotted;
		text-decoration: none;
		color:blueviolet;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
#title2{
		font-size: 2.5vw;
		text-decoration-style: dotted;
		text-decoration: none;
		color:blueviolet;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
#title3{
		font-size: 2.5vw;
		text-decoration-style: dotted;
		text-decoration: none;
		color:blueviolet;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
#cargo {
font-size: 1.3vw;
}

.menu {
	width: 20%;
	height: 100%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
}
.refer{
	width: 20%;

	font-family: Pixeled;
	text-decoration: none;
	color: #FFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#bgMenu{
	display: block;
	left:2%;
	width:15%;
	top:40%;
	position:fixed;
	
}
.sketch {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;

}

#video{
	box-shadow: 0 0 15px 15px #141414;
	width:100%;
	height:50%;
	margin-top: 5%;
	
	
}
#center-content {
	background-color: none;
	width: 80%;
	height: 100%;
	position: absolute;
	top: 5%;
	left: 20%;
	overflow-wrap: break-word;
	text-align: justify;
	text-justify: inter-word;

}
#mainText {
	margin-right: 1%;
	
	margin-top: 0%;
	font-family: ConnectionSerif;
	color: #FFF;
	font-size: 1.5vw;
	background-color: none;
}
#right-content {
	width: 0%;
	height: 95%;
	position: absolute;
	top: 5%;
	left: 70%;
}
#invert {
	box-shadow: 0 0 14px 14px #141414;
	background-color: #000;
	width: 100%;
	height: 55%;
	top:10%;
	left: 20.2%;
	position: fixed;
}
.input-group{
	position: fixed;
 width:15%;
height:50%;
display:  block;
margin-left:1%;
top: 75%;
}
#right-content br {
	line-height: 5%;
}
	table.table-bordered > tbody > tr > td{
    border:1px solid #BCBBBB;
}
	table{
		font-family: ConnectionSerif;
	color: #000;
	}
	table.table td:hover{
	  background: black;
	  color: white;
	}
	#s1{background:none; z-index:0;}
#s2{background:none;  z-index:1;}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.phones{
  width:100%;
  margin: 0 auto;
}
.phones .phone{
  margin: 0 20px;
}

table.table td{
  text-align: center;
  cursor: default;
  /*http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css#4407335*/
   user-select: none;
   border-color: black;
}
table.table td.connected{
  border-width: 3px;
  border-style: solid;
   border-color: green;
}
table.table td.selected{
  background: black;
  color: white;
}

